<h2>Tutorial</h2>

<ol>
	<li>
		Roll a joint.
	</li>
	<li>
		Listen <a href="http://grooveshark.com/#!/frank_sinatra" target="_blank">Frank Sinatra</a>.
	</li>
	<li>
		Shoot ideas!
	</li>
</ol>