
<h2>Create new Insight</h2>

<h2>Latest Insights</h2>

<% unless @user_insights %>
  <p>You don't have any insights. Lets smoke some weed, listen some music and start?</p>
<% else %>

  <ul>

    <% @user_insights.each do |insight| %>
      <li><%= insight.content %> at <%= insight.created_at %></li>
    <% end %>

  </ul>

<% end %>

<hr>

<h2>Tutorial</h2>

<ol>
	<li>
		Roll a joint.
	</li>
	<li>
		Listen <a href="http://grooveshark.com/#!/frank_sinatra" target="_blank">Frank Sinatra</a>.
	</li>
	<li>
		Shoot ideas!
	</li>
</ol>